



.all-pages-countainer{
  height: 100%;
  display: flex;

  transition: translate;
  transition-property: transform;
  transition-duration: 300ms ;
  transition-timing-function: ease-in-out;

}

.arrow {
  cursor: pointer;
  font-size: 3rem;
}
